//-ConservatoireEMRTM.
//-Langage de programmation : nodeJS (l'installation du framework Express est requis).
//-Version 0.1
//-Original author: Andy Del Risco & Ricardo Mendoza
//-Released with the MIT License: http://www.opensource.org/licenses/mit-license.php
//-Copyright (c) 2018 Andy Del Risco and Ricardo Mendoza
//-Hiver-2018

//-Begin Modal Famille
.block-edit.modal.fade#blockFamille
    .modal-dialog.modal-lg.modal-dialog-centered
          .modal-content#ModalFamilles
            .modal-header
              button.close(type="button",data-dismiss="modal") 
                     span(aria-hidden="true") &times;
                     span.sr-only Fermer
              h3#familleTitle.modal-title Familles
            .modal-body
            .container-fluid
              .row
                  .table#tbfam_Result
                    table#tableFam.table.table-hover.table-striped.table-bordered.table-responsive.display
                      thead
                        tr
                          th#tbfamId ID
                          th#tbfamCode Code
                          th#tbfamNom Nom
                          th.hide
                      tbody#tbodyfamResult
                      a &nbsp; &nbsp; &nbsp;    
              .row
                .col-md-4
                  .form-inline
                    .form-group
                      a &nbsp; &nbsp; &nbsp;
                      label#lblfamId ID :
                  .form-inline
                    .form-group
                      a &nbsp; &nbsp; &nbsp;
                      input.form-control#txtfamId(type="number" style='width: 200px;') 
                .col-md-4
                  .form-inline
                    .form-group
                      a &nbsp; &nbsp;
                      label#lblfamCode Code :
                  .form-inline
                    .form-group
                      a &nbsp; &nbsp;
                      input.form-control#txtfamCode(type="text", style='width: 200px;') 
                .col-md-4
                  .form-inline
                    .form-group
                      label#lblfamNom Nom :
                  .form-inline
                    .form-group
                      input.form-control#txtfamNom(type="text", style='width: 200px;') 
              hr
              //-Modal Auteur
            .modal-footer
                .container
                  .row
                    .col-md-4
                      .form-inline
                        .form-group
                          a &nbsp; &nbsp; &nbsp; &nbsp;
                          button#btnfamNouveau.btn.btn-info(type="button", background-color= 'white;', style='width: 150px;', onclick="clairtxtBoxFam()") Nouveau
                          a &nbsp; &nbsp; &nbsp; &nbsp;
                          button#btnfamSup.btn.btn-info(type="button",style='width: 150px;', onclick="supprimerFamille()") Supprimer
                    .col-md-4
                      .form-inline
                        .form-group
                          a &nbsp; &nbsp; &nbsp;
                          button#btnfamSave.btn.btn-info(type="button",style='width: 150px;', onclick="enregistrerFamille()") Enregistrer
                          a &nbsp; &nbsp; &nbsp;
                          button#btnfamFermer.btn.btn-info(type="button",data-dismiss="modal", style='width: 150px;') Fermer
                  .row   
                    a &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;     
                  .row 
                    .col-md-4
                      .form-inline
                        .form-group
                          input#chBfamLoop(type="checkbox")
                          a &nbsp; &nbsp; &nbsp;
                          label#lblfamLoop Enregistrer et continuer une nouvelle saisie.
                    .col-md-4
                    //-champ bide
                    //-End Modal Famille
