doctype html
html
  //-ConservatoireEMRTM.
  //-Langage de programmation : nodeJS (l'installation du framework Express est requis).
  //-Version 0.1
  //-Original author: Andy Del Risco & Ricardo Mendoza
  //-Released with the MIT License: http://www.opensource.org/licenses/mit-license.php
  //-Copyright (c) 2018 Andy Del Risco and Ricardo Mendoza
  //-Hiver-2018

  //-Begin Modal Langue
  head
    title= title

    //- link(rel='stylesheet', href='/stylesheets/style.css')
    //- Bootstrap 
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")

    link(rel="stylesheet", href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css")
    script(src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js") 

    meta(charset="utf-8")
    //-title Installations récréatives de la ville de Montréal

    //-script(src="javascripts/script.js")    
  body
    block content
