doctype html
html
  head
    //-ConservatoireEMRTM.
    //-Langage de programmation : nodeJS (l'installation du framework Express est requis).
    //-Version 0.1
    //-Original author: Andy Del Risco & Ricardo Mendoza
    //-Released with the MIT License: http://www.opensource.org/licenses/mit-license.php
    //-Copyright (c) 2018 Andy Del Risco and Ricardo Mendoza
    //-Hiver-2018

    //-Begin Login
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    
    //-singin
    link#bootstrap-css(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js")
    script(src="//code.jquery.com/jquery-1.11.1.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    //----------------- end singin
    link(rel='stylesheet', href='/stylesheets/styleLogin.css')
    //- Scripts
    
    script(src="javascripts/bootbox.min.js")     
    script(src="javascripts/login.js")

    title= title
  body#body-login
    .container
       .container-centered
          .row
              .col-xs-12
                .panel#panel.panel-default
                  .panel-body
                    .mainbox#loginbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2(style='margin-top:50px;')
                      .panel.panel-info
                        .panel-heading
                          .panel-title Sign In

                        .panel-body(style='padding-top:30px;')

                          .alert#login-alert.alert-danger.col-sm-12(style='display:none;')

                          .form-horizontal#loginform(role='form;')
                              .input-group(style='margin-bottom: 25px;')
                                span.input-group-addon.glyphicon.glyphicon-user
                                input.form-control#login-coduser(type="text"  name="coduser" value="" placeholder="User")

                              .input-group(style='margin-bottom: 25px;')
                                span.input-group-addon.glyphicon.glyphicon-lock
                                input.form-control#login-password(onchange="getUser()" type="password"  name="password" placeholder="Password;")

                              .form-group(style='margin-top:10px;')
                                .controls.col-md-12
                                  button#btn-login.btn-info(onclick="getUser()",type="button",  style='width:150px;') Login

                              .form-group
                                .controls.col-md-12(style="border-top: 1px solid#888; padding-top:15px; font-size:85%")
  footer
    .container
          




