doctype html
html
  head
    title= title


    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel='stylesheet', href='/stylesheets/style.css')
    //- Uploader
    link(rel='stylesheet', href='/stylesheets/styleUploader.css')

    //- Bootstrap 
    //-link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    //-script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    //-script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
    //-script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")

    //-singin
    link#bootstrap-css(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js")
    script(src="//code.jquery.com/jquery-1.11.1.min.js")
    //----------------- end singin

    //- @google maps
    //- IP page
    //- https://console.developers.google.com/apis/credentials?project=ccmap-200818&folder=&organizationId=&showFTMessage=false 
    //- IP Key : AIzaSyDPxtROhIF078MS4pvyH3Z0ad1tMeSn3Sk
    //- script(src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPxtROhIF078MS4pvyH3Z0ad1tMeSn3Sk&callback=initMap")
    //----------------- end @google maps

    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
  

    link(rel="stylesheet", href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css")
    //-script(src="https://code.jquery.com/jquery-1.12.4.js") 
    script(src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js") 
    script(src="javascripts/bootbox.min.js") 

    //- Latest compiled and minified CSS  (Bootstrap-table)
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css")
    //- Latest compiled and minified JavaScript 
    script(src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js")
    //- Latest compiled and minified Locales -->
    script(src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-en-US.min.js")
    script(src="//rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/extensions/export/bootstrap-table-export.min.js")
    meta(charset="utf-8")

    script(src="javascripts/script.js")

    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway', type='text/css')
   
  body(onload="loadListe()")
   .container
      .container
        .row
          a &nbsp; 
        .row
          .col-md-10
           img(src="img/logo.png" , style='width: 100px;')
          .col-md-2
            .form-inline
              .form-group
               label#lblfltLang Langue :
            .form-inline
              .form-group
               select.form-control#cboxfltLang(onchange="changeLangue()" style='width: 150px;')    
        .row
          .col-md-10
              h1#headerTitle #{title}
          .col-md-2
      hr
      .block-filtre#blockFiltre
        .container
          .row
            .col-md-2
              .form-inline
                .form-group 
                  .container                              
                    .dropdown
                      button#btnfltAdminExDdown.btn.btn-info.btn-hover.dropdown-toggle(  href="#" role="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style='width: 150px; '  )  Exporter
                        .caret
                      ul.dropdown-menu(role="menu" aria-labelledby="" )
                        li: a(onclick="genererFichier('csv')" ) CSV
                        li: a(onclick="genererFichier('pdf')") PDF
     
            .col-md-2
              .form-inline
                .form-group
                  if page=="admin"
                      //-data-target="#blockEdit" 
                      button#btnfltNouv.btn.btn-info(onclick="visualiserDocument('N')",type="button",data-toggle="modal"  data-keyboard="false",style='width: 150px;')  Nouveau      
                        
            .col-md-2
              .form-inline
                .form-group
                  .container 
                  if page=="admin"
                    .dropdown
                      button#btnfltAdminGeDdown.btn.btn-info.dropdown-toggle(style='width: 150px;'  href="#" role="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  )  Gestion
                        .caret
                      ul.dropdown-menu(aria-labelledby="", style='width: 150px;')
                        li: a#ddownAuteur(onclick="ramplirtabAut()",type="button",data-toggle="modal" data-backdrop="static" data-keyboard="false",data-target="#blockAuteur", style='') Auteur    
                        li: a#ddownEditeur(onclick="ramplirtabEdi()",type="button",data-toggle="modal" data-backdrop="static" data-keyboard="false",data-target="#blockEditeur", style='') Éditeur
                        li: a#ddownVille(onclick="ramplirtabVil()",type="button",data-toggle="modal" data-backdrop="static" data-keyboard="false",data-target="#blockVille", style='') Ville
                        li: a#ddownLangue(onclick="ramplirtabLan()",type="button",data-toggle="modal" data-backdrop="static" data-keyboard="false",data-target="#blockLangue", style='') Langue
                        li: a#ddownClassement(onclick="ramplirtabCla()",type="button",data-toggle="modal" data-backdrop="static" data-keyboard="false",data-target="#blockClassement", style='') Classement
                        li: a#ddownFamille(onclick="ramplirtabFam()",type="button",data-toggle="modal" data-backdrop="static" data-keyboard="false",data-target="#blockFamille", style='') Famille
                        li: a#ddownTraduction(onclick="ramplirtabTra()",type="button",data-toggle="modal" data-backdrop="static" data-keyboard="false",data-target="#blockTraduction", style='') Traduction
                        li: a#ddownUtilisateurs(onclick="ramplirtabUti()",type="button",data-toggle="modal" data-backdrop="static" data-keyboard="false",data-target="#blockUtilisateurs", style='') Utilisateurs
                        .divider
                        li: a#ddownPreferences(onclick="visualiserPreferences('M')",type="button",data-toggle="modal" data-backdrop="static" data-keyboard="false",data-target="#blockPreferences", style='') Préférences
            .col-md-3
              //-champ vide
              a &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            .col-md-2
              .form-inline
                .form-group
                  button#btnfltContactez.btn.btn-info(onclick="visualiserPreferences('M')",type="button",data-toggle="modal" data-backdrop="static" data-keyboard="false",data-target="#blockContactez", style='width: 150px;') Nous joindre
              
        hr
        //-container filtre
        .container
          //-premier row filtre
          .row
            //-premier colonne filtre
            .col-sm-3
              .form-inline
                .form-group
                 label#lblfltType Type document :  
              .form-inline
                .form-group  
                 select.form-control#cboxfltType( style='width: 200px;') 
            //-deuxième colonne filtre
            .col-sm-4
              .form-inline
                .form-group
                 label#lblfltTitr Titre :
              .form-inline
                .form-group
                 input.form-control#txtfltTitr(type="text", style='width: 250px;') 
            //-troisieme colonne filtre
            .col-sm-3
              .form-inline
                .form-group
                 label#lblfltAute Auteur :
              .form-inline
                .form-group
                 select.form-control#cboxfltAute(style='width: 200px;')   
            //-quatrième colonne filtre
            .col-sm-2
          //-deuxième row filtre    
          .row
          
            //-premier colonne filtre       
            .col-sm-3
              .form-inline
                .form-group
                 label#lblfltEdit Éditeur :
              .form-inline
                .form-group
                 select.form-control#cboxfltEdit( style='width: 200px;') 
            //-deuxième colonne filtre
            .col-sm-4
              .form-inline
                .form-group
                 label#lblfltIsbn ISBN :
              .form-inline
                .form-group
                 input.form-control#txtfltIsbn(type="number", style='width: 250px;') 
            //-troisieme colonne filtre
            .col-sm-3
              .form-inline
                .form-group
                 label#lblfltEtat État :
              .form-inline
                .form-group
                 select.form-control#cboxfltEtat( style='width: 200px;')
            //-quatrième colonne filtre
            .col-sm-2  
              .form-inline
                .form-group
                 label
              .form-inline
               .form-group
                 button#btnFiltre.btn.btn-info(onclick="filtreInfo()", style='width: 100px;')  Filtre

        hr
        input#iddoc(type="hidden", value="")
        //-Campo oculto
        input#idfiltre(type="hidden", value="")
      
        .table#tbl_result
         table#tableEd.table-responsive.display(data-toggle="tooltip" title="Double click to see details!")
            thead
              tr
                //-th.hide id
                th#tbfltId Id
                th#tbfltAute Auteur
                th#tbfltTitl Titre
                th#tbfltAnne Année
                th#tbfltEdit Éditeur
                th#tbfltEtat Etat
                th#tbfltType Type
            tbody#tbodyResult
      footer
        .row
            .col-md-4
              ul#lesAuteurs
                 a#lesAuteursSr Technicien principal csdm. Andy Del Risco 
                 a#lesAuteursJr Programmeur analyste Jr. Ricardo Mendoza  
            .col-md-2 
            .col-md-3
            .col-md-2    
       
      
      //-Modal Aadmin
      include admin-modal.pug
      //-Modal Auteur
      include auteur.pug
      //-Modal Editeur
      include editeur.pug
      //-Modal Ville
      include ville.pug
      //-Modal Langue
      include langue.pug
      //-Modal Classement
      include classement.pug
      //-Modal Famille
      include famille.pug
      //-Modal Traduction
      include traduction.pug
      //-Modal Utilisateur
      include utilisateur.pug
      //-Modal Preferences
      include preferences.pug
       //-Modal Contactez
      include contactez.pug
                                                                       
                            

